body,html
	{
		/*height: 100%;
		margin: 0;
		background: #ff9900;
		background: -webkit-linear-gradient(to right, #ffcc80, #ffad33, #ff9900);
		background: linear-gradient(to right, #ffcc80, #ffad33, #ff9900);*/
		
		height: 100%;
		margin: 0;
		background: #7F7FD5;
		background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
		background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);		
	}
	.custom-box
	{
		/*background-color:rgb(0,0,0,0.4);
		border-style:groove;
		border-width:2px;
		border-color:rgb(128, 128, 128,0.5);
		border-radius:8px;*/
		font-family:Verdana;
		position:relative;
		width:auto;
		height:auto;
	}
	h1
	{
		/*margin-right: 350px;
		margin-left: 570px;*/
		color:black;
		font-family:Times new roman;
		font-weight: bold;
		font-size:40px;
		text-align:center;
	}
	h2
	{
		/*margin-right: 350px;
		margin-left: 510px;*/
		color:black;
		font-family:Times new roman;
		font-weight: bold;
		font-size:40px;
		text-align:center;
	}
	div.custom
	{
		background-color:rgb(0,0,0,0.4);
		border-style:groove;
		border-width:2px;
		border-color:rgb(128, 128, 128,0.5);
		border-radius:8px;
		/*margin-top:80px;
		/*margin-bottom: 150px;*/
		margin-right: 350px;
		margin-left: 350px;
		position:absolute;
		color:rgb(217, 217, 217);
		font-size:1.5vw;
		margin-bottom: 20px;
		
	}
	div.custom-para
	{
		/*margin-top:50px;*/
		margin-top: 380px;
		margin-left: 600px;
		margin-right:350px;
		font-size:1.5vw;
		position:absolute;
	}
	a:link
	{
		color:lightblue;
	}
	a:visited
	{
		color:lightblue;
	}
	.pad
	{
		padding:15px 15px 15px 15px;
	}
	a:hover
	{
		color:rgb(255,255,255,1);
	}
	a:link.dark
	{
		color:black;
	}
	a:visited.dark
	{
		color:black;
	}
	a:hover.dark
	{
		color:red;
	}
	a.noline
	{
		text-decoration:none;
	}
	input[type=text],input[type=password],input[type=date],input[type=email], select
	{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}
	input[type=submit]
	{
		width: 100%;
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

	input[type=submit]:hover
	{
		background-color: #45a049;
	}
	.btn-group button
	{
		background-color: rgb(0,0,0,0.4);
		border: 1px groove rgb(128, 128, 128,0.5);
		color: white;
		padding: 10px 24px;
		cursor: pointer;
		float: left;
		width:50%;
	}

	.btn-group:after
	{
		content: "";
		clear: both;
		display: table;
	}

	.btn-group button:not(:last-child)
	{
		border-right: none;
	}

	.btn-group button:hover
	{
		background-color: #3e8e41;
		border-radius:4px;
	}
	@media (max-width: 1440px)
	{
		.custom
		{
			font-size: 1.25vw;
		}
		div.custom-para
		{
			margin-top: 380px;
			margin-left: 545px;
			margin-right:300px;
			font-size:1.5vw;
		}
	}
	@media (max-width: 1200px)
	{
		div.custom
		{
			margin-right: 100px;
			margin-left: 100px;
			font-size:3vw;
			margin-bottom: 20px;
		}
		div.custom-para
		{
			margin-top: 450px;
			margin-left: 360px;
			margin-right:200px;
		}
		a
		{
			font-size: 3vw;
		}
	}
	@media (max-width: 1000px)
	{
		div.custom
		{
			margin-right: 100px;
			margin-left: 100px;
			font-size:4vw;
			margin-bottom: 20px;
		}
		div.custom-para
		{
			margin-top: 450px;
			margin-left: 250px;
			margin-right:100px;
			font-size:3.5vw;
		}
	}
	@media (max-width: 500px)
	{
		div.custom
		{
			margin-right: 50px;
			margin-left: 50px;
			font-size:4vw;
			margin-bottom: 20px;
		}
		div.custom-para
		{
			margin-top: 350px;
			margin-left: 140px;
			margin-right:100px;
			font-size:3.5vw;
		}
	}
	@media (max-width: 400px)
	{
		div.custom
		{
			margin-right: 50px;
			margin-left: 50px;
			font-size:4vw;
			margin-bottom: 20px;
		}
		div.custom-para
		{
			margin-top: 350px;
			margin-left: 130px;
			margin-right:100px;
			font-size:3.5vw;
		}
	}
	@media (max-width: 300px)
	{
		div.custom
		{
			margin-right: 20px;
			margin-left: 20px;
			font-size:4vw;
		}
		div.custom-para
		{
			margin-top: 320px;
			margin-left: 85px;
			margin-right:50px;
			font-size:4vw;
		}
	}
	@media(min-width: 1300px)
	{
		div.custom
		{
			margin-bottom: 20px;
		}
		div.custom-para
		{
			margin-top: 380px;
			margin-left: 600px;
			margin-right:300px;
			font-size:1.5vw;
		}
	}